/*------ Google fonts ------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500&display=swap');
*{font-family: 'Poppins', sans-serif;}

/*  ---Banner Section styles---  */

.banner-section{
   display: flex;
   justify-content: center;
}
.banner{
    display: flex;
    align-items: center;
    background-color: #070a1b;
    width: 1321px;
    border-radius: 30px;
}
.banner-title{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.banner-title,.banner-image{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.banner-title h1,p{
    color: rgb(255, 255, 255);
}
.banner-title h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}
.banner-title p{
    font-weight: 400;
    font-size: 16px;
}

.banner-title .button{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #DD0000;
    text-decoration: none;
    width: 130px;
    padding: 16px 24px;
    font-size: 20px;
    line-height: 23px;
    border-radius: 5px;
}
.banner-image{
    padding-top: 40px;
    margin-right: 50px;
}

/* --------- Subscription section styles ----------- */
.subscription-section{
    width: 1321px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 130px;
}
.side-bar nav{
    background-color: #161616;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    border-radius: 10px;
}

.input{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    margin: 20px;
    text-align: center; 
    font-weight: 400;
    font-size: 20px;
    color: #060606;
    padding: 20px;
    border-radius: 10px;
    transition: width 1s , height 1s,  transform 1s;
}
.side-bar nav > button{
    margin: 16px;
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #DD0000;
    color: #fff;
}
.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.match{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.match .thumbnail-info{
    padding: 15px 18px;
   
}
.thumbnail-info .thumbnail-icon .fa-clock,.fa-message{
  margin-right: 10px;  
}
.thumbnail-info button{
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 15px;
    font-weight: 600;
}
.play{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.players{
    text-align: center;
}

.paragraph{
    color: #000;
}


/* ----Footer section styles------ */
footer{
    background-color: #161616;
    height: 100%;
    margin-top: 100px;
}

.footer-heading{
    color: #fff;
}
.top-footer{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}
footer > hr{
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.bottom-footer{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 90px;
}
.bottom-footer .bottom-footer-p{
    margin: auto 20px;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    text-decoration: none;
} 
.footer-icons{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.footer-icons .fa-brands{
    color: #fff;
    font-size: 50px;
    margin: auto 20px;
}
/* -------------------------Second page------------------------- */
.thumb-paragraph{
    color: #000;
}


/* -----Responsivnes----------*/ 

/* --Mobile devices-- */
@media only screen and (max-width: 576px) {
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .banner-title{
        margin: 20px auto;
        text-align: center;
    }
    .banner-image{
        padding-top: 0;
        margin: auto 0px;
    }
    .banner-image #banner-img{
        width: 100%;
    }
    .banner-title h1{
        font-size: 20px;
        line-height: 33px;
    }
    /* --subscription-section-- */
    .subscription-section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .side-bar nav{
        background-color: #fff;
        align-items: center;
    }
    nav .input-2,.nav-bar-btn{
        width: 160px;
    }
    nav input{
        color: #000;
        display: inline-block;
        margin: auto auto;
    }
    
    .matches{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer{
        width: 100%;
    }
    footer hr{
        width: 80%;
    }
    .top-footer{
        padding-top: 20px;
    }
    .bottom-footer{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
        text-decoration: none;
    }
}

/* -----Tablet or Medium screen devices----- */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .banner-title{
        padding-bottom: 20px;
    }
    .banner-title > h1{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 8px;
    }
    .banner-title > p{
        font-size: 14px;
        line-height: 24px;
    }
 
    /* -----Subscription section------  */
    .subscription-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 834px;
    }
    .side-bar nav{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       background-color: #fff;
    }
    .matches{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-right: 10%;
    }
    .match-9{
        display: none;
    }
}

